---
http_interactions:
- request:
    method: get
    uri: https://api.360durango.com/1.0/city.getUpcomingEvents
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 17 Mar 2015 14:50:35 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<city-getUpcomingEventsResponse page=\"1\"
        resultsPerPage=\"20\" totalPages=\"7\" totalResults=\"129\"><events><event
        id=\"71292\" date=\"2015-03-17\" expireDate=\"2025-12-31\" title=\"Gluten-Free
        Tuesdays\" allDayEvent=\"1\" location=\"Carver Brewing Company\" type=\"Food
        / Beverage Specials\" dateMode=\"4\" siteId=\"77\" linkText=\"Carver Brewing
        Company\" linkUrl=\"http://www.360durango.com/Restaurants/carversbrewing.html\"
        featured=\"0\" url=\"gluten-free-tuesdays\">Every Tuesday we offer Gluten-Free
        Specials ALL DAY: that means breakfast, lunch, and dinner!<ad id=\"81201\"
        name=\"Carver Brewing Company\" url=\"http://360Durango.com/Attractions/carversbrewing.html\"
        description=\"Colorado's second-oldest Brew Pub, serving unique, traditional
        beers and premium foods for breakfast, lunch, and dinner\" eventCount=\"8\"
        couponCount=\"0\" jobCount=\"0\" locationCount=\"1\" popupCount=\"2\" slideshowCount=\"3\"
        linkCount=\"10\"><address id=\"86971\" addr1=\"1022 Main Avenue\" city=\"Durango\"
        state=\"CO\" zipCode=\"81301\" phone=\"970.259.2545\" latitude=\"37.274821\"
        longitude=\"-107.880128\"></address><logo2Image url=\"http://tours.360durango.com/81201/logo2.gif\"
        width=\"60\" height=\"60\"></logo2Image></ad></event><event id=\"75908\" date=\"2015-03-17\"
        endDate=\"2025-12-31\" title=\"Birthday Special\" allDayEvent=\"1\" type=\"Food
        / Beverage Specials\" dateMode=\"2\" siteId=\"77\" linkText=\"Like us on Facebook\"
        linkUrl=\"https://www.facebook.com/orehouserestaurant\" featured=\"0\" url=\"birthday-special\">Receive
        the % of your age off your meal on your Birthday!<ad id=\"81317\" name=\"Ore
        House\" url=\"http://360Durango.com/Attractions/theorehouse.html\" description=\"C[...]
