---
http_interactions:
- request:
    method: get
    uri: http://api.360durango.com/1.0/ad.getCoupons?adId=89588&page=1&resultsPerPage=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 17 Mar 2015 14:50:33 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ad-getCouponsResponse><coupons><coupon id="22214" name="$10 OFF SELECT STYLES" begin="2015-03-15" expire="2015-05-15" accept_offline="1" accept_online="0" acceptMobile="1" acceptPrint="1"><offer>Select Ladies and Men's Regularly Priced Footwear above $75. </offer><restrictions>Coupon must be presented at time of purchase. Not valid with any other offer.</restrictions></coupon></coupons></ad-getCouponsResponse>
  recorded_at: Tue, 17 Mar 2015 14:50:34 GMT
recorded_with: VCR 2.9.3
