---
http_interactions:
- request:
    method: get
    uri: http://api.360durango.com/1.0/ad.getCoupons?adId=89588&page=1&resultsPerPage=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 30 Oct 2015 14:00:05 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ad-getCouponsResponse><coupons><coupon id="34922" name="$10 OFF New Styles" url="10-off-selected-styles" begin="2015-09-17" expire="2015-10-31" accept_offline="1" accept_online="0" acceptMobile="1" acceptPrint="1"><offer>Selected Ladies and Men's Footwear
        Regularly Priced above $75. </offer><restrictions>Coupon must be presented at time of purchase. Not valid with any other offer. </restrictions></coupon></coupons></ad-getCouponsResponse>
  recorded_at: Fri, 30 Oct 2015 14:02:40 GMT
recorded_with: VCR 2.9.3
