---
http_interactions:
- request:
    method: get
    uri: http://api.360durango.com/1.0/ad.getList
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 17 Mar 2015 14:56:43 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ad-getListResponse page="1" resultsPerPage="20" totalPages="49" totalResults="966"><ads><ad id="89540" name="360Durango.com" url="http://360Durango.com/BusinessServices/Advertising/360Durango.html" path="360Durango" description="360Durango is the business to contact regarding advertising marketing small business promotion and more in Durango Colorado" liveDate="2011-04-12" eventCount="0" couponCount="0" jobCount="0" locationCount="1" popupCount="1" slideshowCount="0" linkCount="6"><address id="95499" city="Durango" state="CO" phone="970.317.5387" latitude="37.271371" longitude="-107.880971"></address><logoImage url="http://tours.360durango.com/89540/logo.gif" width="250" height="100"></logoImage><logo2Image url="http://tours.360durango.com/89540/logo2.gif" width="60" height="60"></logo2Image><tileImage url="http://tours.360durango.com/89540/tile.gif" width="140" height="100"></tileImage></ad><ad id="168136" name="6512 Restaurant" url="http://360Durango.com/Restaurants/Fusion/6512Restaurant.html" path="6512Restaurant" description="6512 Restaurant Durango Colorado Happy Hour Live Music Lounge Martini Bar Southwest Sports Bar Cocktails Fusion Where to Eat" liveDate="2013-07-19" eventCount="0" couponCount="0" jobCount="0" locationCount="1" popupCount="5" slideshowCount="0" linkCount="4"><address i[...]
