---
http_interactions:
- request:
    method: get
    uri: http://api.360durango.com/1.0/city.getUpcomingEvents?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 26 Mar 2013 22:30:09 GMT
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<city-getUpcomingEventsResponse page=\"1\"
        resultsPerPage=\"20\" totalPages=\"8\" totalResults=\"149\"><events><event
        id=\"36342\" date=\"2013-03-26\" expireDate=\"2013-04-02\" time=\"00:00:00\"
        title=\"$5 Burger or Sandwich\" allDayEvent=\"1\" location=\"The Irish Embassy
        Pub\" type=\"Food Special\" dateMode=\"4\" siteId=\"77\" price=\"$5\" linkText=\"The
        Irish Embassy Pub\" linkUrl=\"http://www.theirishembassypub.com\" featured=\"0\">$5
        Burger, Nackers Chicken Sandwich, or Fish Sandwich<ad id=\"89690\" name=\"The
        Irish Embassy Pub\" url=\"http://360Durango.com/Attractions/TheIrishEmbassyPub.html\"
        description=\"The Irish Embassy is Durango's downtown Pub, perfect for a nice
        cold beer, live music and traditional Irish Fayre\" eventCount=\"8\" couponCount=\"0\"
        jobCount=\"0\" locationCount=\"1\" popupCount=\"5\" slideshowCount=\"4\" linkCount=\"5\"><address
        addr1=\"900 Main Ave.\" city=\"Durango\" state=\"CO\" zipCode=\"81301\" phone=\"970.403.1200\"
        fax=\"970.403.1203\"></address><logoImage url=\"http://tours.360durango.com/89690/logo.gif\"
        width=\"153\" height=\"175\"></logoImage></ad></event><event id=\"60706\"
        date=\"2013-03-26\" endDate=\"2013-03-31\" time=\"00:00:00\" title=\"Art at
        Eno: Paintings by Alexis McLean\" allDayEvent=\"1\" location=\"eno\" type=\"Arts
        / Exhibits\" dateMode=\"2\" siteId=\"77\" linkText=\"Eno Online\" linkUrl=\"http://www.enodurango.com\"
        featured=\"0\">art at eno\n\nFeatured paintings by Alexis McLean\nFebruary
        7 - March 31<ad id=\"122154\" name=\"Eno\" url=\"http://360Durango.com/Attractions/Eno.html\"
        description=\"Sit, sip, and savor in an ambiance of comfort ..... Wine, coffee,
        cocktails, and tapas in a cont[...]
