---
http_interactions:
- request:
    method: get
    uri: http://api.360durango.com/1.0/ad.getCoupons?adId=123094
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 18 Mar 2013 04:30:33 GMT
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <ad-getCouponsResponse><coupons><coupon id="30229" name="Early Bird Booking
        Discount" begin="2012-10-17" expire="2013-04-01" accept_offline="1" accept_online="0"
        acceptMobile="1" acceptPrint="1"><offer>Save 10% on ALL Trips in 2013 when
        you book before April 1st.</offer><restrictions>Must Mention Discount At Time
        of Booking. No Refunds.</restrictions></coupon></coupons></ad-getCouponsResponse>

'
  recorded_at: Mon, 18 Mar 2013 04:30:35 GMT
recorded_with: VCR 2.4.0
