---
http_interactions:
- request:
    method: get
    uri: http://api.360durango.com/1.0/city.getUpcomingEvents?areaId=592
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 26 Mar 2013 23:05:54 GMT
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <city-getUpcomingEventsResponse page="1" resultsPerPage="20" totalPages="1"
        totalResults="1"><events><event id="55504" date="2013-04-17" expireDate="2013-12-04"
        time="18:30:00" title="Wednesday Night Group Runs" allDayEvent="0" location="Meet
        at Backcountry Experience" type="Sports" dateMode="4" siteId="77" price="Free!"
        featured="0">Join us for fun group runs on roads and trails every Wednesday
        night! This is a social, no-drop run for all levels! Meet at BCEXP for a 6:30
        pm departure. We''ll run where the group wants, for how long the group wants
        and then go out for discounted drinks and food at Cosmo Durango or Carver
        Brewing Company!<ad id="82669" name="Backcountry Experience" url="http://360Durango.com/Attractions/BackcountryExperience.html"
        description="Durango''s favorite outdoor shop and outfitter. Featuring unique
        brands, demo/rental equipment and premium customer care." eventCount="1" couponCount="0"
        jobCount="0" locationCount="2" popupCount="1" slideshowCount="2" linkCount="4"><address
        addr1="1205 Camino Del Rio" city="Durango" state="CO" zipCode="81301" phone="970.247.5830"
        fax="970.247.8013"></address><logoImage url="http://tours.360durango.com/82669/logo.gif"
        width="250" height="218"></logoImage></ad></event></events></city-getUpcomingEventsResponse>

'
  recorded_at: Tue, 26 Mar 2013 23:05:54 GMT
recorded_with: VCR 2.4.0
