---
http_interactions:
- request:
    method: get
    uri: http://api.360durango.com/1.0/city.getUpcomingEvents?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 26 Mar 2013 22:33:02 GMT
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<city-getUpcomingEventsResponse page=\"1\"
        resultsPerPage=\"20\" totalPages=\"8\" totalResults=\"149\"><events><event
        id=\"36342\" date=\"2013-03-26\" expireDate=\"2013-04-02\" time=\"00:00:00\"
        title=\"$5 Burger or Sandwich\" allDayEvent=\"1\" location=\"The Irish Embassy
        Pub\" type=\"Food Special\" dateMode=\"4\" siteId=\"77\" price=\"$5\" linkText=\"The
        Irish Embassy Pub\" linkUrl=\"http://www.theirishembassypub.com\" featured=\"0\">$5
        Burger, Nackers Chicken Sandwich, or Fish Sandwich<ad id=\"89690\" name=\"The
        Irish Embassy Pub\" url=\"http://360Durango.com/Attractions/TheIrishEmbassyPub.html\"
        description=\"The Irish Embassy is Durango's downtown Pub, perfect for a nice
        cold beer, live music and traditional Irish Fayre\" eventCount=\"8\" couponCount=\"0\"
        jobCount=\"0\" locationCount=\"1\" popupCount=\"5\" slideshowCount=\"4\" linkCount=\"5\"><address
        addr1=\"900 Main Ave.\" city=\"Durango\" state=\"CO\" zipCode=\"81301\" phone=\"970.403.1200\"
        fax=\"970.403.1203\"></address><logoImage url=\"http://tours.360durango.com/89690/logo.gif\"
        width=\"153\" height=\"175\"></logoImage></ad></event></events></city-getUpcomingEventsResponse>\n"
  recorded_at: Tue, 26 Mar 2013 22:33:04 GMT
recorded_with: VCR 2.4.0
